.heading-primary,
.heading-secondary {
	color: $black;
	line-height: 1.4;
	font-weight: 400;
}
.heading-primary {
	font-size: 3.6rem;
}
.heading-secondary {
	font-size: 2.4rem;
	text-align: center;
}
.heading-underline {
	margin: 1rem 0rem 2rem;
}
