.btn {
	background-color: $orange;
	color: $white;
	border: none;
	margin-bottom: 0;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	letter-spacing: 0.1;
	padding: 10px 40px;
	font-size: 1.6rem;
	line-height: 1.65;
	border-radius: 100px;
	outline: none;
	transition: all 0.35s;
	&:hover {
		background-color: $dark-orange;
	}
}
